

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width: 100%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    border: solid 1px black;
    background-color: violet;
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-quarter {
    width: 25%;
}

.column.one-eighth {
    width: 12.5%
}