h1 {
    margin-bottom: 50px
}
.box{
    border: solid 1px black;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 98%;
    font-weight: bold;
    color: white;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}
:nth-child(3n+2){
    clear: left;
}
.arrow {
    position: relative;
    bottom: 85px;
    left: 40px;

}

#red{
    background-color: red;

}

#orange{
    background-color: orange;

}

#yellow{
    background-color: yellow;

}

#green{
    background-color: forestgreen;

}

#blue{
    background-color: blue;

}

#violet{
    background-color: violet;

}

#ribbon{
    position: fixed;
    top: 0px;
    right: 0px;
}

